body {
    font-family: 'Courier New', Courier, monospace';
}
.main-header {
    position: relative;
    height: 50px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.07);
}
.h-100 {
    height: 100%;
}
.main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-menu li:first-child {
    margin: 0;
}
.main-menu li {
    margin-left: 20px;
    position: relative;
}
.main-menu li a {
    color: #444445;
    text-decoration: none;
    line-height: 50px;
    font-weight: 400;
    font-size: 14px;
}
.main-menu .active a {
    color: #349c67;
}
.sort-theme {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
.sort-by.active {
    display: block !important;
}
.sort-theme a {
    display: flex;
    color: #a5a5a5;
    align-items: center;
}
.sort-theme .sort-by {
    display: none;
    position: absolute;
    top: 40px;
    left: -10px;
    border: 1px solid #e1e1e1;
    background: #fff;
    z-index: 9;
}
.sort-theme .sort-by ul {
    flex-wrap: wrap;
}
.sort-theme .sort-by ul li.active, .sort-theme .sort-by ul li:hover {
    font-weight: 700;
    color: #2d2d2d;
}
.sort-theme .sort-by ul li {
    padding: 10px 0;
    margin: 0 10px;
    min-width: 180px;
    text-align: left;
    line-height: normal;
    height: auto;
    font-size: 14px;
    color: #7c7c7c;
    border-bottom: 1px solid #e1e1e1;
}
#form-search {
    position: relative;
}
#form-search input {
    border: 1px solid #e7f7f1;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    width: 280px;
    padding: 0 50px 0 15px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background: #e7f7f1;
    color: #4c7465;
}
#form-search button i {
    color: #6e8d81;
    font-weight: 300;
}
#form-search button {
    position: absolute;
    border: none;
    background: none;
    right: 1px;
    top: 0;
    font-size: 16px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    line-height: 35px;
}
/*about_me*/
.about_me{
    background-image: -webkit-linear-gradient(0deg,#0fd186 0%,#35d899 100%);
    height: 100px;
}
.about_me_item{
	position: relative;
	padding: 25px 0px;
}
.about_me_item>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.about_me_img{
	width: 40px;
	height: 40px;
	background-color: #35d899;
	padding: 8px;
	border-radius: 100%;
	float: left;
}
.about_me_img img{
	width: 24px;
	height: 24px;
}
.about_me_mota{
	font-size: 15px;
	line-height: 20px;
	float: right;
	width: calc(100% - 60px);
}
.about_me_item h3{
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
}
.about_me_item p{
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0px;
}
/*footer*/
#w_footer{
	position: relative;
	/* background-image: url('images/bg-ytuong.jpg');
	background-repeat: repeat-x;
	background-position: center top; */
	background-color: #f8f7fb;
	color: #333;
	z-index: 2;
}
#footer{
	position: relative;
	padding: 50px 0px 30px;
	
}
#footer .list_vertical{
	list-style: none;
}
#footer .list_vertical li a{
	color: #333;
	font-size: 15px;
	line-height: 30px;
}
#footer .list_vertical li:hover a{
	color: #35d899;
}
#back-to-top {
    display: none;
    padding: 7px 15px;
    color: #333;
    background: rgba(200,200,200,0.5);
    position: fixed;
    right: 15px;
    bottom: 30px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#back-to-top:hover{
	background: #ccc;
}
.logo_footer{
	margin-bottom: 15px;
}
.div_footer_bottom{
 background-color: #ececf6;
}
.footer_bottom{
	display: flex;
	justify-content: center;
	align-items: center;
}
.copy2{
	font-size: 14px;
	line-height: 20px;
	position: relative;
	color:#444;
	padding: 10px 0;
}
.ul-inline a{
	color: #222;
}
.ul-inline a:hover{
	color: #35d899;
}
.list_footer{
	list-style: none;
	display: flex;
}
.list_footer li {
	margin-left: 15px;
	text-align: center;
}
.list_footer li a{
	color: #222;
}
.list_footer li:hover a{
	color: #35d899;
}
.tt_footer{
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	position: relative;
	display: block;
	text-transform: capitalize;
}
.chan_footer{
	width: 100px;
	height: 2px;
	background:#35d899;
	display: block;
	margin:5px 0px 15px;
}
.f-item{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 10px;
}
.f-item>i{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.1);
	font-size: 12px;
	line-height: 25px;
	text-align: center;
}
.f-item span{
	width: calc(100% - 35px);
}
#social_footer2{
	margin-top: 15px;
}
#social_footer2 a{
	margin-right: 8px;
	display: inline-block;
}
#social_footer2 img{
	filter: brightness(0.2);
}
/*end footer*/

.child-menu {
    display: none;
    box-shadow: 0 0 12.22px 0.78px rgba(0,0,0,.11);
    background: #fff;
    position: absolute;
    left: -50px;
    top: 100%;
    z-index: 9;
    border-top: 1px solid #179eff;
    min-width: 185px;
}
.child-menu li {
    list-style: none;
    padding: 10px 15px;
    margin: 0;
}
.child-menu li a{
    line-height: 1.4;
    font-weight: 400;
}
.child-menu::after {
    bottom: 100%;
    left: 68px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(23,158,255,0);
    border-bottom-color: #179eff;
    border-width: 9px;
}
.main-menu li a:hover {
    color: #349c67;
}
/* .main-menu li a:focus + .child-menu {
    display: block;
} */
 .themes-list {
    background: url(/home/custom/images/bg-top.png) no-repeat top center;
    padding: 20px 0 0;
    position: relative;
}

 .themes-list .account-login {
    position: absolute;
    color: #b4b8bb;
    top: 64px;
    right: 15px;
    z-index: 20;
    width: 50%;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}

 .themes-list .account-login a {
    color: #b4b8bb;
}

 .themes-list .index-title h1 {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    color: #096f47;
    margin: 10px 0 0;
    position: relative;
}

 .themes-list .index-title p {
    text-align: left;
    color: #42464e;
    font-size: 21px;
    font-weight: 300;
    margin: 10px 0 40px;
}

 .themes-list .list-items .theme-item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(16, 155, 98, .12);
    -webkit-box-shadow: 0 0 40px 0 rgba(16, 155, 98, .12);
    -moz-box-shadow: 0 0 40px 0 rgba(16, 155, 98, .12);
    -o-box-shadow: 0 0 40px 0 rgba(16, 155, 98, .12);
    -os-box-shadow: 0 0 40px 0 rgba(16, 155, 98, .12);
    max-height: 386px;
    overflow: hidden;
    margin-bottom: 40px;
}

 .themes-list .list-items .theme-item.mobile {
    border: none;
    min-height: 386px;
}

 .themes-list .list-items .theme-item.mobile .theme-image {
    background: url(/Themes/Portal/Default/Styles/images/index/bg-theme-mobile.png) no-repeat top center;
    border: none;
    text-align: center;
    padding-top: 42px;
}

 .themes-list .list-items .theme-item.mobile .theme-image img {
    width: 168px;
}

 .themes-list .list-items .theme-item.mobile .theme-info {
    border-radius: 0 0 5px 5px;
}

 .themes-list .list-items .theme-item.mobile .theme-info .ti-info-alt {
    position: absolute;
    bottom: 110px;
    right: 25px;
    color: #b6b6b6;
    font-size: 20px;
}

 .themes-list .list-items .theme-item.mobile .theme-info .tooltip {
    font-size: 12px;
    opacity: 1 !important;
}

 .themes-list .list-items .theme-item.mobile .theme-info .tooltip .tooltip-arrow {
    display: none;
}

 .themes-list .list-items .theme-item.mobile .theme-info .tooltip .tooltip-inner {
    background: #fff;
    padding: 5px;
    font-size: 12px;
    width: 320px;
    max-width: 320px;
    text-align: left;
    color: #797777;
    border: 1px solid #e1e1e1;
    position: relative;
    box-shadow: #e1e1e1 0 0 15px 5px;
}

 .themes-list .list-items .theme-item.mobile .theme-info .tooltip .tooltip-inner:after,
 .themes-list .list-items .theme-item.mobile .theme-info .tooltip .tooltip-inner:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

 .themes-list .list-items .theme-item.mobile .theme-info .tooltip .tooltip-inner:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
}

 .themes-list .list-items .theme-item.mobile .theme-info .tooltip .tooltip-inner:before {
    border-color: rgba(225, 225, 225, 0);
    border-bottom-color: #e1e1e1;
    border-width: 8px;
    margin-left: -8px;
}

 .themes-list .list-items .theme-item .theme-image {
    position: relative;
    height: auto;
    overflow: hidden;
}

 .themes-list .list-items .theme-item .theme-image img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    position: relative;
}

 .themes-list .list-items .theme-item .theme-image:hover .theme-action {
    height: 100%;
}

 .themes-list .list-items .theme-item .theme-image .theme-action {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    text-align: center;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

 .themes-list .list-items .theme-item .theme-image .theme-action:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

 .themes-list .list-items .theme-item .theme-image .theme-action .button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

 .themes-list .list-items .theme-item .theme-image .theme-action a {
    display: block;
    width: 165px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 400;
}

 .themes-list .list-items .theme-item .theme-image .theme-action a:hover {
    text-decoration: none;
}

 .themes-list .list-items .theme-item .theme-image .theme-action a.view-demo {
    color: #fff;
    background-image: -moz-linear-gradient(0deg, #0fd186 0%, #35d899 100%);
    background-image: -webkit-linear-gradient(0deg, #0fd186 0%, #35d899 100%);
    background-image: -ms-linear-gradient(0deg, #0fd186 0%, #35d899 100%);
    margin-bottom: 15px;
}

 .themes-list .list-items .theme-item .theme-image .theme-action a.view-detail {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
}

 .themes-list .list-items .theme-item .theme-info {
    padding: 25px;
    border-top: 0 solid #e1e1e1;
    background: #fff;
}

 .themes-list .list-items .theme-item .theme-info h3 {
    font-size: 18px;
    font-weight: 400;
    color: #096f47;
    margin: 0;
}

 .themes-list .list-items .theme-item .theme-info h3 a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #096f47;
    margin-bottom: 5px;
    height: 23px;
    overflow: hidden;
}

 .themes-list .list-items .theme-item .theme-info .price {
    display: block;
    font-size: 16px;
}

 .themes-list .list-items .theme-item .theme-info .price b {
    color: #4e4747;
    font-weight: bold;
}

 .themes-list .list-items .theme-item .theme-info .price.has-compare b {
    color: #e61919;
}

 .themes-list .list-items .theme-item .theme-info .price.has-compare i {
    text-decoration: line-through;
    font-size: 12px;
    color: #4e4747;
    font-style: normal;
}

 .themes-list .view-more-theme {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    height: 64px;
    line-height: 64px;
    border-radius: 32px;
    background-image: -moz-linear-gradient(180deg, #35e486 0%, #22db86 54%, #0fd186 99%);
    background-image: -webkit-linear-gradient(180deg, #35e486 0%, #22db86 54%, #0fd186 99%);
    background-image: -ms-linear-gradient(180deg, #35e486 0%, #22db86 54%, #0fd186 99%);
    padding: 0 50px;
    margin-bottom: 50px;
}

 .themes-list .view-more-theme:hover {
    text-decoration: none;
}

 .themes-list #icon-load-more {
    margin-bottom: 50px;
}

@media(min-width:992px) and (max-width:1199px) {
     .themes-list {
        padding: 70px 0 0;
    }
}

@media(min-width:768px) and (max-width:991px) {
     .themes-list {
        padding: 50px 0 0;
    }
}

@media(max-width:767px) {
    .themes-list {
        padding: 40px 0 0;
    }
    .themes-list .index-title h1 {
        font-size: 24px;
    }
    .themes-list .index-title p {
        font-size: 16px;
    }
}
.tab_category {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tab_category li a {
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.tab_category li {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 18px;
    margin-left: 10px;
    transition: all 0.4s ease;
}
.tab_category li a:hover,.tab_category .active a {
    color: #35d899;
    transition: all 0.4s ease;
}
.tab_category li .active,.tab_category li:hover, .tab_category .active{
    border-color: #35d899;
    color: #35d899;
    transition: all 0.4s ease;
}
.tieude_index {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}
.tieude_index::before {
    content: '';
    position: absolute;
    border-top: 1px solid #cacaca;
    left: calc(50% - 120px);
    bottom: 0;
    right: 0;
    width: 240px;
    bottom: -6px;
}
.tieude_index::after {
    content: '';
    left: 50%;
    transform: translate(-50%);
    bottom: -10px;
    width: 14px;
    height: 14px;
    background-image: url(/home/custom/icon/icon-title.png);
    background-size: contain;
    position: absolute;
    z-index: 3;
}
.tieude_index .tt_main {
    font-size: 28px;
    line-height: 40px;
    color: #333;
    font-weight: 700;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
}
.tieude_index .tt_sub {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #666;
    font-style: italic;
    font-family: 'Old Standard TT';
    margin-bottom: 0px;
}
.slide-content {
    background: url(/home/custom/images/bg-top.png) no-repeat top center;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.slide-content .my-slide {

}
a:focus, button:focus {
    outline: none;
}
.slide-content button:hover {
    opacity: 0.6;
    color: black !important;
    background-color: #c0ccc8 !important;
    transition: all .3s ease .15s;
}
.slide-content button {
    color: #fff;
    background-color: transparent;
    opacity: 0.5;
    border-radius: 50%;
}
.w3-display-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.w3-display-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}
.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.logo {
    width: 30px;
    height: 30px;
}
.mw-100 { max-width: 100%;}
.company {
    padding-left: 10px;
    font-weight: 600;
    color: green;
}
.div_info_product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.zoom_slick {
    width: 50%;
}
.zoom_slick #img_product {
    border: 1px solid #ddd;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.info_product {
    width: 47%;
    display: block;
    position: relative;
    list-style: none;
}
.info_product li {
    border-bottom: 1px dashed #ddd;
    padding: 8px 0;
}
.my-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no-border-bottom {
    border-bottom: none !important;
}
.tieude_detail {
    position: relative;
    color: #333;
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.info_product .product-qty {
    display: flex;
    flex-wrap: wrap;
}
.product-qty .cart {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 30px;
    background: linear-gradient(to right, #0fd186, #35d899) border-box;
    border: 3px solid transparent;
}
.product-qty .cart button, .item_sanpham .item_button .cart button {
    background: #fff;
    color: #666;
    outline: 0px;
    border: 0px;
    text-align: center;
    border-radius: 50px;
    display: block;
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}
.info_product .cart button {
    padding: 8px 20px;
}
.controls .fa-minus, .controls .fa-plus {
    border: 1px solid #ddd;
    background-color: #fff;
    width: 40px;
    float: left;
    height: 46px;
}

.controls input {
    float: left;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px 15px;
    height: 46px;
    width: 100px;
    border-left: 0;
    border-right: 0;
    text-align: center;
}
.btn-mua-ngay {
    padding: 14px 17px;
    background: #349c67;
    color: #fff !important;
    text-align: center;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    display: block;
}
.goingay {
    color: #fff;
    font-weight: 300;
    padding: 14px 17px;
    background: #4d4b4c;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}
.btn-mua-ngay span {
    display: block;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.div_breadcrumb .breadcrumb {
    background-color: #F0F0F0;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.div_breadcrumb .breadcrumb {
    background-color: #F0F0F0;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.div_breadcrumb .breadcrumb a {
    color: #aaa;
}
a, a:hover {
    text-decoration: none !important;
}
.div_breadcrumb .breadcrumb span {
    color: #666;
}
.discount {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #e7f7f1;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
}
.discount b {
    width: 100%;
    display: flex;
    color: #096f47;
    justify-content: center;
    align-items: center;
}
@keyframes ldio-z9h8nu849ls {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.ldio-z9h8nu849ls div {
    left: 97px;
    top: 52px;
    position: absolute;
    animation: ldio-z9h8nu849ls linear 1s infinite;
    background: #35d899;
    width: 6px;
    height: 16px;
    border-radius: 1.44px / 1.44px;
    transform-origin: 3px 48px;
}
.ldio-z9h8nu849ls div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.95s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(2) {
    transform: rotate(18deg);
    animation-delay:-0.9s;
    background:#35d899;
}
.ldio-z9h8nu849ls div:nth-child(3) {
    transform: rotate(36deg);
    animation-delay: -0.85s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(4) {
    transform: rotate(54deg);
    animation-delay: -0.8s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(5) {
    transform: rotate(72deg);
    animation-delay: -0.75s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(6) {
    transform: rotate(90deg);
    animation-delay: -0.7s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(7) {
    transform: rotate(108deg);
    animation-delay: -0.65s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(8) {
    transform: rotate(126deg);
    animation-delay: -0.6s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(9) {
    transform: rotate(144deg);
    animation-delay: -0.55s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(10) {
    transform: rotate(162deg);
    animation-delay: -0.5s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(11) {
    transform: rotate(180deg);
    animation-delay: -0.45s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(12) {
    transform: rotate(198deg);
    animation-delay: -0.4s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(13) {
    transform: rotate(216deg);
    animation-delay: -0.35s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(14) {
    transform: rotate(234deg);
    animation-delay: -0.3s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(15) {
    transform: rotate(252deg);
    animation-delay: -0.25s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(16) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(17) {
    transform: rotate(288deg);
    animation-delay: -0.15s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(18) {
    transform: rotate(306deg);
    animation-delay: -0.1s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(19) {
    transform: rotate(324deg);
    animation-delay: -0.05s;
    background: #35d899;
}
.ldio-z9h8nu849ls div:nth-child(20) {
    transform: rotate(342deg);
    animation-delay: 0s;
    background: #35d899;
}
.loadingio-spinner-spinner-w8kkil260n {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    background: #ffffff;
}
.ldio-z9h8nu849ls {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}
.ldio-z9h8nu849ls div {
    box-sizing: content-box;
}
.hidden {
    display: none !important;
}
.my-slide {
    width: 100%;
    height: 400px;
}
img {
    /* image-rendering: pixelated; */
    object-fit: contain;
}
figure img {
    width: 100%;
}
/* generated by https://loading.io/ */
.w-100vh {
    height: 100vh;
}
.child-menu li {
    cursor: pointer;
}
.child-menu li:hover, .child-menu li.active {
    background-color: aliceblue;
}
.search_list {
    display: none;
    z-index: 99;
    box-shadow: 0 0 12.22px 0.78px rgba(0,0,0,.11);
    background: #fff;
    position: absolute;
    left: 0;
    top: 112%;
    width: 100%;
    z-index: 9;
    min-width: 185px;
}
.search_list ul {
    padding: 0 5px;
    margin: 0;
}
.search_list li:hover, .search_list li.active {
    background-color: aliceblue;
}
.search_list.active {
    display: block;
}
.search_list li {
    padding: 10px 15px;
    color: #349c67;
    border-bottom: 1px dashed #349c67;
    list-style-type: none;
}
.search_list li:last-child {
    border-color: transparent;
}
.search_list ul li {
    cursor: pointer;
}
#loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    text-align: center;
    width: 150px;
    height: 40px;
    background: #e1e7e8;
    transition: all 0.25s ease-out;
    outline: 0;
    box-shadow: 1px 2px  #88ad88;
    border-radius: 20px;
    cursor: pointer;
}
#loadMore p {
    color: #88ad88;
    -webkit-font-weight: bold;
    font-smoothing: antialiased;
    margin: 0;
}
#loadMore:hover > p {
    color: #e1e7e8;
}
#loadMore:hover {
    box-shadow: 1px 2px  #e1e7e8;
    background: #88ad88;
}
@keyframes ldio-nr71hfyg91o {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.ldio-nr71hfyg91o div {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 4px solid #88ad88;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-nr71hfyg91o div {
    animation: ldio-nr71hfyg91o 1s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loadingio-spinner-rolling-tpm40fc0lgn {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.ldio-nr71hfyg91o {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-nr71hfyg91o div {
    box-sizing: content-box;
}
.ldio-nr71hfyg91o div:hover {
    border: 4px solid #e1e7e8;
}
@media (max-width: 1200px) and (min-width: 768px){
    .main-menu {
        display: inline-flex !important;
    }
}
@media (min-width: 1200px){
    #header_mobile {
        display: none !important;
    }
}
@media (max-width: 1200px){
    #header_1, #header_2 {
        display: none !important;
    }
    #header_mobile {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
    }
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.pollSlider{
    position: fixed;
    height:100%;
    background: #fff;
    width: 80%;
    right: -80%;
    z-index: 100;
    top: 0px;
}
#pollSlider-button{
    position:absolute;
    height:50px;
    right:0px;
    background: #efefef;
    top:0;
    right: 0;
}
#pollSlider-button i {
    color: #88ad88;
    zoom: 2;
    padding: 5px 10px;
}
.pollSlider .search {
    padding:5px 10px;
}
.pollSlider .search #form-search input {
    width: 100%;
}
.main-menu-small {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-menu-small li {
    text-align: center;
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px dashed lavender;
}
.main-menu-small li a {
    color: #88ad88;
}
.main-menu-small li.active, .main-menu-small li:hover {
    background-color: aliceblue;
}
.child-menu-small {
    margin: 0;
    list-style: none;
    padding-left: 5px;
    padding-top: 10px;
}

.child-menu-small li {
    background-color: aliceblue;
    display: none;
}
.child-menu-small li:last-child {
    border-bottom: none;
}
.child-menu-small li.active {
    font-weight: bolder;
}
.sort-theme a img {
    width: 24px;
    height: 24px;
}
.price_bf_discount {
    text-decoration: line-through;
    color: #989494;
    font-style: italic;
}

/* generated by https://loading.io/ */